@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

div.main-wrapper {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', arial, sans-serif;
}
