<h1>Ponto eletrônico</h1>

<div class="form-wrapper">
  <form>
    <div class="input">
      <label for="employee-name">Nome</label>
      <input type="text" name="employee-name" id="employee-name">
    </div>

    <div class="input">
      <label for="employee-email">Email</label>
      <input type="text" name="employee-email" id="employee-email">
    </div>

    <div class="input">
      <label for="employee-cpf">Cpf</label>
      <input type="text" name="employee-cpf" id="employee-cpf">
    </div>

    <div class="input">
      <label for="employee-phone">Phone</label>
      <input type="text" name="employee-phone" id="employee-phone">
    </div>

    <div class="input-checkbox">
      <label for="employee-knowledge">Conhcimentos</label>
      <input type="checkbox" name="employee-knowledge" id="employee-knowledge">

      <label for="employee-knowledge">Git</label>
      <input type="checkbox" name="employee-knowledge" id="employee-knowledge">

      <label for="employee-knowledge">React</label>
      <input type="checkbox" name="employee-knowledge" id="employee-knowledge">

      <label for="employee-knowledge">php</label>
      <input type="checkbox" name="employee-knowledge" id="employee-knowledge">
    </div>

    <button type="submit">Registrar</button>
</form>
</div>
