<div class="filter-wrapper" *ngIf="hasFilter">
  <input type="text" [(ngModel)]="filterValue" (input)="filterForm()">
  <button class="btn" (click)="clearFilterForm()">Limpar</button>
</div>

<table>
  <thead>
    <tr>
      <th *ngIf="!isActionsEmpty">Ação</th>
      <th *ngFor="let column of columns">{{ column }}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let row of rows" (click)="onClickRow(row)">
      <td *ngIf="!isActionsEmpty" class="table-actions">
          <div class="flex justify-content-center" style="gap: 4px">
            <button
              type="button"
              class="btn"
              *ngFor="let action of actions"
              (click)="action.onClick()"
            >
              {{ action.name }}
            </button>
          </div>
        </td>

      <td *ngFor="let cell of row" [innerHTML]="cell"></td>
    </tr>
</table>
