body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.p-0 {
  padding: 0
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.danger {
  color: #BA2935;
}

.btn {
  padding: 8px;
  border-radius: 10px;
  background-color: #efefef;
  border: none;
  font-size: 1.05em;
  cursor: pointer;
}
